* API NAME - APIs.guru
* DESCRIPTION  - 	OpenAPI API directory
* SAMPLE URL  -  https://api.apis.guru/v2/list.json

In [51]:
import requests
import json
import pandas as pd

In [52]:
url = "https://api.apis.guru/v2/list.json"
response = requests.get(url)
api_data = response.json()

In [53]:
df = pd.json_normalize(api_data)
print(df.head())

           1forge.com.added 1forge.com.preferred  \
0  2017-05-30T08:34:14.000Z                0.0.1

  1forge.com.versions.0.0.1.added  \
0        2017-05-30T08:34:14.000Z

  1forge.com.versions.0.0.1.info.contact.email  \
0                           contact@1forge.com

  1forge.com.versions.0.0.1.info.contact.name  \
0                                      1Forge

  1forge.com.versions.0.0.1.info.contact.url  \
0                          http://1forge.com

  1forge.com.versions.0.0.1.info.description  \
0   Stock and Forex Data and Realtime Quotes

  1forge.com.versions.0.0.1.info.title 1forge.com.versions.0.0.1.info.version  \
0                  1Forge Finance APIs                                  0.0.1

  1forge.com.versions.0.0.1.info.x-apisguru-categories  ...  \
0                                        [financial]    ...

  zuora.com.versions.2021-08-20.info.version  \
0                                 2021-08-20

  zuora.com.versions.2021-08-20.info.x-apisguru-categories  \
0                                        [financial]

       zuora.com.versions.2021-08-20.info.x-logo.url  \
0  https://api.apis.guru/v2/cache/logo/https_www....

         zuora.com.versions.2021-08-20.info.x-origin  \
0  [{'format': 'openapi', 'url': 'https://www.zuo...

  zuora.com.versions.2021-08-20.info.x-providerName  \
0                                         zuora.com

  zuora.com.versions.2021-08-20.updated  \
0              2021-08-23T09:34:59.789Z

            zuora.com.versions.2021-08-20.swaggerUrl  \
0  https://api.apis.guru/v2/specs/zuora.com/2021-...

        zuora.com.versions.2021-08-20.swaggerYamlUrl  \
0  https://api.apis.guru/v2/specs/zuora.com/2021-...

  zuora.com.versions.2021-08-20.openapiVer  \
0                                    3.0.0

                  zuora.com.versions.2021-08-20.link
0  https://api.apis.guru/v2/specs/zuora.com/2021-...

[1 rows x 75502 columns]

In [54]:
df = pd.DataFrame.from_dict(api_data, orient='index')
print(df.head())

                                                  added preferred  \
1forge.com                     2017-05-30T08:34:14.000Z     0.0.1
1password.com:events           2021-07-19T10:17:09.188Z     1.0.0
1password.local:connect        2021-04-16T15:56:45.939Z     1.5.7
6-dot-authentiqio.appspot.com  2017-03-15T14:45:58.000Z         6
ably.io:platform               2019-07-13T11:28:07.000Z     1.1.0

                                                                        versions
1forge.com                     {'0.0.1': {'added': '2017-05-30T08:34:14.000Z'...
1password.com:events           {'1.0.0': {'added': '2021-07-19T10:17:09.188Z'...
1password.local:connect        {'1.5.7': {'added': '2021-04-16T15:56:45.939Z'...
6-dot-authentiqio.appspot.com  {'6': {'added': '2017-03-15T14:45:58.000Z', 'i...
ably.io:platform               {'1.1.0': {'added': '2019-07-13T11:28:07.000Z'...

# 2. Example
* Name: Art Institute of Chicago
* Description: Artwork from the museum
* Sample URL: https://api.artic.edu/api/v1/artworks/search?q=cats

In [85]:
url = "https://api.artic.edu/api/v1/artworks/search?q=cats"
response = requests.get (url)
response.status_code

200

In [86]:
results = json.loads(response.text)
results.keys()

dict_keys(['preference', 'pagination', 'data', 'info', 'config'])

In [87]:
df = pd.json_normalize(results['data'])

columns = df.columns.tolist()
print(columns)

['_score', 'id', 'api_model', 'api_link', 'is_boosted', 'title', 'timestamp', 'thumbnail.lqip', 'thumbnail.width', 'thumbnail.height', 'thumbnail.alt_text']

* Search api_link

In [89]:
df['api_link']
new_url = df['api_link'][0]

In [90]:
response1 = requests.get(new_url)
data1 = response1.json()

In [94]:
results_d = json.loads(response1.text)
results_d.keys()

dict_keys(['data', 'info', 'config'])

In [96]:
results_data = pd.DataFrame(results_d)

In [97]:
results_data

,data,info,config
id,656,NaN,NaN
api_model,artworks,NaN,NaN
api_link,https://api.artic.edu/api/v1/artworks/656,NaN,NaN
is_boosted,False,NaN,NaN
title,"Lion (One of a Pair, South Pedestal)",NaN,NaN
...,...,...,...
license_text,NaN,The `description` field in this response is li...,NaN
license_links,NaN,[https://creativecommons.org/publicdomain/zero...,NaN
version,NaN,1.13,NaN
iiif_url,NaN,NaN,https://www.artic.edu/iiif/2
website_url,NaN,NaN,http://www.artic.edu

In [ ]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv"
filename = "file_example_XLSX_10.cvc"

# Send a HTTP GET request to the URL
response = requests.get(url)


response = requests.get(url)
with open(filename, "wb") as f:
    f.write(response.content)

df = pd.read_csv(filename)
df

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123