In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("8_df.csv")

In [3]:
df

   Unnamed: 0    A    B    C     D
0           0  1.0  NaN  1.0   1.0
1           1  2.0  2.0  2.0   2.0
2           2  3.0  3.0  NaN   3.0
3           3  NaN  2.0  4.0   4.0
4           4  5.0  5.0  5.0   NaN
5           5  6.0  6.0  NaN   6.0
6           6  3.0  3.0  3.0   7.0
7           7  NaN  3.0  4.0   8.0
8           8  8.0  NaN  4.0   9.0
9           9  9.0  9.0  9.0  10.0

In [4]:
from sklearn.impute import SimpleImputer

In [5]:
si = SimpleImputer(strategy = 'mean')

In [23]:
df['A'] = si.fit_transform(df[['A']])
df['D'] = si.fit_transform(df[['D']])

In [24]:
df

   Unnamed: 0      A    B    C          D
0           0  1.000  3.0  1.0   1.000000
1           1  2.000  2.0  2.0   2.000000
2           2  3.000  3.0  4.0   3.000000
3           3  4.625  2.0  4.0   4.000000
4           4  5.000  5.0  5.0   5.555556
5           5  6.000  6.0  4.0   6.000000
6           6  3.000  3.0  3.0   7.000000
7           7  4.625  3.0  4.0   8.000000
8           8  8.000  3.0  4.0   9.000000
9           9  9.000  9.0  9.0  10.000000

In [25]:
si_mode = SimpleImputer(strategy = 'median')

In [26]:
df['B']  =  si_mode.fit_transform(df[['B']])

In [27]:
df

   Unnamed: 0      A    B    C          D
0           0  1.000  3.0  1.0   1.000000
1           1  2.000  2.0  2.0   2.000000
2           2  3.000  3.0  4.0   3.000000
3           3  4.625  2.0  4.0   4.000000
4           4  5.000  5.0  5.0   5.555556
5           5  6.000  6.0  4.0   6.000000
6           6  3.000  3.0  3.0   7.000000
7           7  4.625  3.0  4.0   8.000000
8           8  8.000  3.0  4.0   9.000000
9           9  9.000  9.0  9.0  10.000000

In [28]:
si_mf = SimpleImputer(strategy = 'most_frequent')

In [29]:
df['C'] = si_mf.fit_transform(df[['C']])

In [30]:
df

   Unnamed: 0      A    B    C          D
0           0  1.000  3.0  1.0   1.000000
1           1  2.000  2.0  2.0   2.000000
2           2  3.000  3.0  4.0   3.000000
3           3  4.625  2.0  4.0   4.000000
4           4  5.000  5.0  5.0   5.555556
5           5  6.000  6.0  4.0   6.000000
6           6  3.000  3.0  3.0   7.000000
7           7  4.625  3.0  4.0   8.000000
8           8  8.000  3.0  4.0   9.000000
9           9  9.000  9.0  9.0  10.000000