In [205]:
import pandas as pd

In [206]:
df = pd.read_csv('CAR DETAILS FROM CAR DEKHO.csv')

In [207]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [209]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [210]:
print(df['fuel'].unique())

['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric']

In [211]:
print(df['fuel'].value_counts())
print(df['seller_type'].value_counts())
print(df['transmission'].value_counts())
print(df['owner'].value_counts())

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64
seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64
transmission
Manual       3892
Automatic     448
Name: count, dtype: int64
owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

# we use below LabelEncoder and OrdinalEncoder isntead of these codes

    df['fuel'] = df['fuel'].map({'Diesel': 1, 'Petrol': 0,'CNG': 3,'LPG': 2,'Electric': 4})
    df['seller_type'] = df['seller_type'].map({'Individual':8, 'Dealer':9, 'Trustmark Dealer':10})
    df['transmission'] = df['transmission'].map({'Manual': 15, 'Automatic':16 })
    df['owner'] = df['owner'].map({'First Owner': 23, 'Second Owner':24, 'Third Owner':25, 'Fourth & Above Owner':26, 'Test Drive Car': 27})

In [212]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

# Scikit

# Label Encoder

In [213]:
from sklearn.model_selection import train_test_split

In [214]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('fuel', axis=1), df['fuel'], test_size = 0.2, random_state = 42)

In [215]:
X_train

,name,year,selling_price,km_driven,seller_type,transmission,owner
227,Mahindra Scorpio S11 BSIV,2017,1500000,20000,Individual,Manual,First Owner
964,Maruti Swift Dzire VDI,2018,500000,50000,Individual,Manual,First Owner
2045,Maruti Alto 800 LXI,2013,92800,25000,Individual,Manual,Second Owner
1025,Chevrolet Beat Diesel LS,2011,95000,70000,Individual,Manual,First Owner
4242,Maruti Vitara Brezza LDi Option,2017,685000,72000,Dealer,Manual,First Owner
...,...,...,...,...,...,...,...
3444,Toyota Innova 2.5 G (Diesel) 8 Seater BS IV,2006,500000,50000,Individual,Manual,First Owner
466,Tata Indica Vista Quadrajet LX,2011,133000,80000,Individual,Manual,First Owner
3092,Maruti Ciaz VDi Plus SHVS,2016,665000,51000,Dealer,Manual,First Owner
3772,Maruti Ertiga VDI,2013,250999,80000,Individual,Manual,First Owner
860,Hyundai Santro Xing GL Plus,2013,175000,80000,Individual,Manual,First Owner

In [216]:
X_test

,name,year,selling_price,km_driven,seller_type,transmission,owner
3978,Tata Manza Aqua Quadrajet BS IV,2010,165000,80000,Individual,Manual,First Owner
1448,Renault KWID RXT BSIV,2019,250000,27000,Individual,Manual,First Owner
2664,Hyundai Santro Xing GL Plus,2008,120000,41723,Individual,Manual,Second Owner
17,Honda Amaze VX i-DTEC,2014,450000,141000,Individual,Manual,Second Owner
1634,Mahindra TUV 300 T8 AMT,2016,730000,60000,Individual,Automatic,Second Owner
...,...,...,...,...,...,...,...
3468,Maruti Wagon R LXI Minor,2007,130000,60000,Individual,Manual,Third Owner
3164,Maruti Celerio ZDi,2015,350000,120000,Individual,Manual,First Owner
416,Maruti Ritz VDi,2011,150000,40000,Individual,Manual,Second Owner
1616,Toyota Etios Liva 1.2 VX,2017,650000,6480,Trustmark Dealer,Manual,First Owner
2480,Maruti Wagon R ZXI 1.2,2019,575000,30000,Dealer,Manual,First Owner

#  Now start Label Encoder

In [217]:
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder

In [218]:
le = LabelEncoder()
oe = OrdinalEncoder()

In [219]:
y_train_tranf = le.fit_transform(y_train)
y_test_transf = le.transform(y_test)

In [220]:
df['fuel'].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [221]:
y_train_tranf

array([1, 1, 4, ..., 1, 1, 4], shape=(3472,))

In [222]:
x_train_transf = oe.fit_transform(X_train)
x_test_transf = oe.fit_transform(X_test)

In [223]:
x_train_transf

array([[606.,  23., 350., ...,   1.,   1.,   0.],
       [863.,  24., 187., ...,   1.,   1.,   0.],
       [698.,  19.,  33., ...,   1.,   1.,   2.],
       ...,
       [759.,  22., 229., ...,   0.,   1.,   0.],
       [782.,  19., 101., ...,   1.,   1.,   0.],
       [411.,  19.,  69., ...,   1.,   1.,   0.]], shape=(3472, 7))

In [224]:
X_train_transf_df = pd.DataFrame(data = x_train_transf, columns = X_train.columns)
X_test_transf_df = pd.DataFrame(data = x_test_transf, columns = X_test.columns)

In [225]:
X_train_transf_df.head()

    name  year  selling_price  km_driven  seller_type  transmission  owner
0  606.0  23.0          350.0      114.0          1.0           1.0    0.0
1  863.0  24.0          187.0      294.0          1.0           1.0    0.0
2  698.0  19.0           33.0      141.0          1.0           1.0    2.0
3   45.0  17.0           35.0      412.0          1.0           1.0    0.0
4  903.0  23.0          233.0      419.0          0.0           1.0    0.0

In [226]:
X_test_transf_df.head()

    name  year  selling_price  km_driven  seller_type  transmission  owner
0  501.0  14.0           42.0      189.0          1.0           1.0    0.0
1  458.0  23.0           66.0       63.0          1.0           1.0    0.0
2  184.0  12.0           29.0       98.0          1.0           1.0    2.0
3  105.0  18.0          112.0      239.0          1.0           1.0    2.0
4  291.0  20.0          165.0      145.0          1.0           0.0    2.0